[submodule "slack"]
	path = slack
	url = https://github.com/aoberoi/passport-slack
[submodule "github"]
	path = github
	url = https://github.com/cfsghost/passport-github
[submodule "auth0"]
	path = auth0
	url = https://github.com/auth0/passport-auth0
[submodule "discord"]
	path = discord
	url = https://github.com/nicholastay/passport-discord
[submodule "dropbox"]
	path = dropbox
	url = https://github.com/florianheinemann/passport-dropbox-oauth2
